.firstBtns,
.secondBtns,
.thirdBtns,
.fourthBtns,
.clear {
  display: flex;
  justify-content: center;  
  gap: 10px;                 
  margin-bottom: 10px;       
}

button {
  width: 70px;
  height: 70px;
  font-size: 24px;
  font-weight: bold;
}

#display {
  width: 300px;
  height: 60px;
  font-size: 32px;
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

#equal {
  background-color: rgb(58, 181, 101);
}

#clear {
  width: 310px;
}

